.footer {
  line-height: 2;
  font-size: 1.4rem;
  padding: 30px 0 50px;
  background-color: #000;
  color: #fff;

  &__link {
    display: inline-block;
    padding: 0 10px;
  }

  &__qrcodes {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
    display: table@hack;
    width: 100%@hack;

    img {
      width: 97px;
      height: 97px;
    }
  }

  &__qrcode {
    display: table-cell@hack;
    line-height: 1.5;
    width: 50%@hack;

    &:first-child {
      text-align: right@hack;
      padding-right: 50px@hack;
    }

    &:last-child {
      text-align: left@hack;
    }
  }

  &__qrcode:not(:last-child) {
    margin-right: 50px;
  }
}


@media screen and (max-width: @breakpoint-medium) {
  .footer__link {
    padding: 0 5px
  }
}
