footer.footer.t-center
  .container
    if $t.lang !== "en"
      .footer__qrcodes
        .footer__qrcode
          .footer__qrcode-img
            img(src="./images/dingding-we.png")
          .footer__qrcode-hint
            | !{$t.toolbar.dingding}
        .footer__qrcode
          .footer__qrcode-img
            img(src="./images/wechat-we.png")
          .footer__qrcode-hint
            | !{$t.toolbar.wechat}
    else
      .footer__line
        | Contact：
        a(href="mailto:hackathon.sf@jiqizhixin.com") hackathon.sf@jiqizhixin.com
    .footer__line
      | 赛事咨询：
    .footer__line
      | 陈梦琳 13146242162 maoye.cml@antfin.com
    .footer__line
      | 庄雨鑫 13923767086 zhuangyuxin@jiqizhixin.com
    .footer__line
      | #{$t.footer.copyright}
