header.header#site-header
  .container.header__container
    a.header__logo(href="javascript:;")
    .header__right
      nav.header__nav.nav
        a.nav__item(href="/#banner", data-index="0") 首页
        a.nav__item(href="/#intro", data-index="1") 大赛介绍
        a.nav__item(href="/#schedule", data-index="2") 大赛日程
        a.nav__item(href="/#rules", data-index="3") 参赛规则及奖项设置
        a.nav__item(href="/#sponsor", data-index="4") 大赛组织者
      .header__other
        .header__local
          a.active(href="javascript:;") 中文
          span /
          a(href="javascript:;") English
        //- a.header__open(href="javascript:;")
        //-   | 蚂蚁开放日
    .hamburger.hamburger--collapse.js-hamburger
      .hamburger-box
        .hamburger-inner
