.toolbar
  a.item.item-ding(href="javascript:;")
    .toolbar-layer
      p !{$t.toolbar.dingding}
      img(src="./images/dingding-we.png")
  a.item.item-wechat(href="javascript:;")
    .toolbar-layer
      p !{$t.toolbar.wechat}
      img(src="./images/wechat-we.png")
  a.item.item-headlines.share-btn(href="javascript:;", data-type="headlines")
  a.item.item-sina.share-btn(href="javascript:;", data-type="weibo")
  a.item.item-sohu.share-btn(href="javascript:;", data-type="sohu")
