section.apply-entry
  .container.apply-entry__container.t-center
    .apply-entry__item
      a.apply-entry__program.text-pingfang#js-apply-program-btn(href=applyProgramUrl)
        | #{$t.apply.program}
    .apply-entry__item
      a.apply-entry__creative.text-pingfang#js-apply-creative-btn(href=applyCreativeUrl)
        | #{$t.apply.creative}

  .container
    +rules-desc(true)
#js-apply-program-modal
#js-apply-creative-modal
