section.apply-entry
  .container.apply-entry__container.t-center
    .apply-entry__item
      a.apply-entry__program.text-pingfang#js-apply-program-btn(href="javascript:;")
        | 编程赛报名
    .apply-entry__item
      a.apply-entry__creative.text-pingfang#js-apply-creative-btn(href="javascript:;")
        | 创意赛报名

  .container
    +rules-desc(true)
#js-apply-program-modal
#js-apply-creative-modal
