.banner {
  padding: @header-h + 80px 0 80px;
  background-image: url('@{images}/element-01.png'), url('@{images}/element-02.png');
  background-size: 600px, 600px;
  background-position: -50px -400px, top -52px right -180px;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;

  &__topic {
    font-family: 'PingFang SC';
    font-size: 5rem;
    margin-bottom: 20px;

    .banner__title-en {
      font-size: 2rem;
    }
  }

  &__topic-second {
    font-family: 'PingFang SC';
    font-size: 2rem;
    margin-bottom: 20px;

    .banner__title-en {
      font-size: 1.4rem;
    }
  }

  &__countdown {
    margin-bottom: 20px;
    font-size: 3rem;

    .item {
      display: inline-block;
      border: 1px solid #fff;
      width: 50px;
      height: 50px;
      line-height: 50px;
      margin: 0 10px;
      border-radius: 5px;
    }
  }

  &__apply {
    display: inline-block;
    color: @pink;
    padding: 10px 110px;
    border: 1px solid @pink;
    font-size: 2rem;
    margin-bottom: 5px;
    border-radius: 6px;
  }

  &__hint {
    margin-bottom: 40px;
  }


  &__intro {

    p {
      margin: 0;
      line-height: 2;
    }
  }
}
