.header {
  position: fixed;
  width: 100%;
  height: @header-h;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #000;
  z-index: 2;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    .ant-logo(50px)
  }

  &__local {
    display: inline-block;
    margin-right: 25px;

    a {
      margin: 0 4px;
    }

    a.active {
      color: @pink;
    }
  }

  &__open {
    padding: 4px 10px;
    border: 1px solid #fff;

    &:hover {
      color: #fff;
      background-color: @pink;
      border-color: @pink;
    }
  }
}

.nav {
  height: @header-h;
  display: flex;
  align-items: center;

  &__item {
    position: relative;
    font-size: 1.6rem;

    &::after {
      content: '';
      position: absolute;
      width: 1%;
      height: 0;
      left: 50%;
      transform: translateX(-50%);
      bottom: -10px;
      border-bottom: 2px solid transparent;
      transition: all 0.3s;
    }

    &.active {
      color: @pink;

      &::after {
        width: 100%;
        border-color:@pink;
      }
    }
  }

  &__item:not(:last-child) {
    margin-right: 35px;
  }
}
