@zone-w: 1500px;

.intro {
  &__content {
    padding: 20px;
    line-height: 1.5;
  }

  .section-list__content {
    position: relative;
    margin: 2rem -1rem 0 -1rem;
    padding-left: 0.4rem;
  }

  .section-three__inline {
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 2rem;
    padding: 10px;
    border-radius: 2px;
  }

  .inline__header {
    .header__logo {

    }

    .header__title {

    }
  }

  .inline__description {

  }

}
