.rules {

  .section-inline {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #282828;
    position: relative;
    line-height: 2rem;
    padding: 10px;
    border-radius: 2px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &__header {
      .header__logo {

      }

      .header__title {

      }
    }

    &__description {

    }

  }
}