section.banner#banner
  .container.banner__container.t-center
    .banner__topic
      .banner__date 2017
      .banner__title 蚂蚁开发者大赛
      .banner__title-en Ant Technology Developer Challenge
    .banner__topic-second
      .banner__title 支付宝小程序开发者大赛 
      .banner__title-en Alipay Mini-program Hackathon
    .banner__countdown.countdown#js-countdown
      span.days-num.item 00
      span :
      span.hrs-num.item 00
      span :
      span.mins-num.item 00
      span :
      span.secs-num.item 00
    a.banner__apply(href="javascript:;")
      | 报名参加
    .banner__hint.t-pink
      | 《《《 报名结束入口将关闭 》》》
    .banner__intro.t-pink
      p /* 1492年，哥伦布第一次扬帆驶入大西洋，开启了大航海时代。
      p 开发者，在互联网海洋中扮演着哥伦布这样探险家的角色。
      p 科技，是我们改变世界的原力。
      p 开发者往往是新鲜事物最早的登陆人，
      p 提早为世界埋下未来的种子。*/ 
