header.header#site-header
  .logo
  nav.nav
    a.nav-item(href="/") 首页
    a.nav-item(href="#intro") 活动介绍
    a.nav-item(href="#schedule") 活动日程
    a.nav-item(href="#rules") 参赛规则及奖项设置
    a.nav-item(href="#sponsor") 活动组织者
