header.header#site-header
  .container.header__container
    a.header__logo(href="javascript:;")
    nav.nav
      a.nav__item.active(href="/", data-index="0") 首页
      a.nav__item(href="javascript:;", data-index="1") 大赛介绍
      a.nav__item(href="javascript:;", data-index="2") 大赛日程
      a.nav__item(href="javascript:;", data-index="3") 参赛规则及奖项设置
      a.nav__item(href="javascript:;", data-index="4") 大赛组织者
    .header__right
      .header__local
        a.active(href="javascript:;") 中文
        span /
        a(href="javascript:;") English
      a.header__open(href="javascript:;")
        | 蚂蚁开放日
