section.intro
  .container
    +module-title('关于大赛')
    .intro__content
      p.
        蚂蚁开发者大赛是由蚂蚁金服举办的面向广大开发者、品牌商户及企业的大型创意开发比赛，致力于为全球开发者们提供国际一流水平的开发与交流机会，
        并助力他们运用先进的平台和技术解决各类实际生活中的问题，为世界带来更多公平的机会。
      p.
        本次蚂蚁开发者大赛以“金融科技 未来生活”为主题，依托支付宝小程序为开发基础，鼓励开发者通过支付宝小程序充分结合蚂蚁金服提供的各项能力，
        包括移动支付、担保交易、芝麻信用、花呗、保险等金融服务，为几亿用户提供改善日常金融生活的应用体验。
    +module-title('技术平台介绍')
    .intro__content
      .section-list__content
        .section-three__inline
          .inline__header
            a.header__logo 蚂蚁金服
            a.header__title
              span 蚂蚁金服
              span ANT FINANCIAL
            a.header__title
              span 开放平台
              span ant-open.com
          .inline__description
          | 蚂蚁开放平台依托蚂蚁金服庞大的商家和用户群体，向第三方合作伙伴，全面开放大数据、营销、安全、支付、信用等独有能力。同时提供“互联网+”、支付、餐饮、快消、泛行业等领域的深度行业解决方案。
        .section-three__inline
          .inline__header
            a.header__logo 蚂蚁金服
            a.header__title
              span 支付宝小程序
              span Alipay Mini-program
          .inline__description
          | 小程序、大作为<br/>支付宝小程序具有新的开放能力，连接政府、机构、商家、用户的极简服务工具，可以在支付宝APP内被便捷获取和传播，并具有出色的使用体验
        .section-three__inline
          .inline__header
            a.header__logo 蚂蚁金融云
            a.header__title
              span 蚂蚁金融云
              span ANT FINANCIAL ClOUD
          .inline__description
          | 蚂蚁金融云平台作为一个互联网金融创先新业务的技术推进器，已经成功助力了余额宝、芝麻信用、招财宝、聚宝等众多创新业务，通过平台内置接口即可快速与蚂蚁金服各项开放业务融合，共同探索全新生态
