section.rules
  .container
    +module-title('参赛规则及奖项设置')
    .rules__content
      .section-list__content
        .section__inline
          p.section__title 中国赛区（杭州）
          .section__image
            image(src="../images/rules-cn.png")
          .section-rules
            p.rules__title
              | { 
              strong 编程赛规则
              |  } 中国站
            .rules-content
              .rules-decription
                span.rules-decription__tag 参赛对象&nbsp;:&nbsp;
                span.rules-decription__title 企业开发者
              .rules-decription
                span.rules-decription__tag 团队规模&nbsp;:&nbsp;
                span.rules-decription__title 以企业为单位报名，3-5人一组，自行组队
              .rules-decription
                span.rules-decription__tag 团队技能&nbsp;:&nbsp;
                span.rules-decription__title 开发、设计、数据、运营
              .rules-decription
                span.rules-decription__tag 参赛目标&nbsp;:&nbsp;
                span.rules-decription__title 请基于支付宝小程序开发出落地应用
              .rules-decription
                span.rules-decription__tag 初赛提交信息&nbsp;:&nbsp;
                span.rules-decription__title 说出你的想法、你的创意，展示你的团队。（详细参见报名页面）
              .rules-decription
                span.rules-decription__tag 决赛时间&nbsp;:&nbsp;
                span.rules-decription__title 10月12日-10月13日
              .rules-decription
                span.rules-decription__tag 决赛地点&nbsp;:&nbsp;
                span.rules-decription__title 中国杭州云栖小镇
              .rules-decription
                span.rules-decription__tag 决赛团队&nbsp;:&nbsp;
                span.rules-decription__title 大赛组委会将从所有编程赛的报名团队中筛选出15支队伍参与决赛
            .rules-base
              .base__title 评选依据
                .section-list__content
                  .section-five__inline
                    .base__icon
                    .base__description 用户体验
                  .section-five__inline
                    .base__icon
                    .base__description 技术水平
                  .section-five__inline
                    .base__icon
                    .base__description 现场人气
                  .section-five__inline
                    .base__icon
                    .base__description 创新创意
                  .section-five__inline
                    .base__icon
                    .base__description 社会／商业价值
        .section__inline
          p.section__title 美国赛区（硅谷）
          .section__image
            image(src="../images/rules-en.png")
          .section-rules
            p.rules__title
              | { 
              strong 创新赛规则
              |  } 美国站
            .rules-content
              .rules-decription
                span.rules-decription__tag 参赛对象&nbsp;:&nbsp;
                span.rules-decription__title 美国本土的个人开发者
              .rules-decription
                span.rules-decription__tag 团队规模&nbsp;:&nbsp;
                span.rules-decription__title 以团队为单位报名，3-5人一组，自行组队
              .rules-decription
                span.rules-decription__tag 团队技能（可选）&nbsp;:&nbsp;
                span.rules-decription__title 开发、设计、数据、运营
              .rules-decription
                span.rules-decription__tag 参赛目标&nbsp;:&nbsp;
                span.rules-decription__title 请基于支付宝小程序完成demo创意展示
              .rules-decription
                span.rules-decription__tag 初赛提交信息&nbsp;:&nbsp;
                span.rules-decription__title 说出你的想法、你的创意，展示你的团队。（详细参见报名页面）
              .rules-decription
                span.rules-decription__tag 决赛时间&nbsp;:&nbsp;
                span.rules-decription__title 10月12日-10月13日
              .rules-decription
                span.rules-decription__tag 决赛地点&nbsp;:&nbsp;
                span.rules-decription__title 美国硅谷
              .rules-decription
                span.rules-decription__tag 决赛团队&nbsp;:&nbsp;
                span.rules-decription__title 大赛组委会将从所有创新赛的报名团队中筛选出10支队伍参与决赛
              .rules-base
                .base__title 评选依据
                  .section-list__content
                    .section-three__inline
                      .base__icon
                      .base__description 创新创意
                    .section-three__inline
                      .base__icon
                      .base__description 用户体验
                    .section-three__inline
                      .base__icon
                      .base__description 社会／商业价值
        .section-list__content
          .section__inline
            .rules__title
              | { 
              strong 编程赛奖项设置
              |  }
            .rules-prize__content
              .prize__ranking 一等奖
              .prize__detail
                h1
                  strong ¥330
                  | 万
                p  · 总计价值超过330万人民币
                p  · 30万人民币现金奖励
                p  · 价值300万人民币的支付宝站内推广资源
                p  · 蚂蚁技术支持资源
                p  · 媒体传播资源
                p  · 团队交流机会
          .section__inline
            .rules__title
              | { 
              strong 创新赛奖项设置
              |  }
            .rules-prize__content
              .prize__ranking 最佳创意奖
              .prize__detail
                h1 $5万
                p  · 总计价值超过5万美金
                p  · 1万美金的现金奖励
                p  · 价值4万美金的媒体宣传资源
          .section__inline
            .rules-prize__content
              .prize__ranking 二等奖
              .prize__detail
                h1
                  strong ¥145
                  | 万
                p  · 总计价值超过145万人民币
                p  · 15万人民币现金奖励
                p  · 价值130万人民币的支付宝站内推广资源
                p  · 蚂蚁技术支持资源
                p  · 团队交流机会
          .section__inline
            .rules-prize__content
              .prize__ranking 最佳社会价值奖
              .prize__detail
                h1
                  strong $5
                  | 万
                p  · 总计价值超过5万美金
                p  · 1万美金的现金奖励
                p  · 价值4万美金的媒体宣传资源
          .section__inline
            .rules-prize__content
              .prize__ranking 三等奖
              .prize__detail
                h1
                  strong $21
                  | 万
                p  · 总计价值超过21万人民币
                p  · 8万人民币现金奖励
                p  · 价值13万人民币的支付宝站内推广资源
                p  · 蚂蚁技术支持资源
                p  · 团队交流机会
      .rules-prize__btn 入围奖&nbsp;:&nbsp;所有进入决赛的团队，均可获得大赛的神秘礼物哦！

































