section.category.rules
  .container
    +module-title('参赛规则及奖项设置')
    .rules__content
      .section-list__content
        .section__inline
          p.section__title 中国赛区（杭州）
          .section__image
            image(src="../images/rules-cn.png")
          .section-rules
            image(src="../images/prize-cn.png")

        .section__inline
          p.section__title 美国赛区（硅谷）
          .section__image
            image(src="../images/rules-en.png")
          .section-rules
            image(src="../images/prize-en.png")
      .rules-prize__btn 入围奖&nbsp;:&nbsp;所有进入决赛的团队，均可获得大赛的神秘礼物哦！

































