.toolbar
  a.item.item-ding(href="javascript:;")
    .toolbar-layer
      p 钉钉二维码
      img(src="../images/dingding-we.png")
  a.item.item-wechat(href="javascript:;")
    .toolbar-layer
      p 微信二维码
      img(src="../images/wechat-we.png")
  a.item.item-headlines(href="javascript:;")
  a.item.item-sina(href="javascript:;")
  a.item.item-sohu(href="javascript:;")
