.sponsor {
  background: url('@{images}/element-03.png') no-repeat;
  background-size: 90px, 200px;
  background-position: 0px 558px;
  padding-bottom: 5rem;

  .wrapper__left, .wrapper__right {
    width: 45%;
  }

  &-owner {
    margin: 3rem 0 1rem 0;

    &.wrapper {
      width: auto;
      justify-content: baseline;
      align-items: flex-end;
    }

    .wrapper__left, .wrapper__right {
      width: auto;
    }

    &__logo {
      height: 6.6rem;

      img {
        height: 100%;
      }
    }

    &__decription {
      margin: 0;
      line-height: 1.6;
    }

    &__img img {
      width: 100%;
    }
  }
}
