section.category.banner#banner
  .container.banner__container.t-center
    +solgan
    .banner__countdown.text-pingfang.countdown#js-countdown
      span.days-num.item(data-title="DAYS") 00
      span :
      span.hrs-num.item(data-title="HOURS") 00
      span :
      span.mins-num.item(data-title="MINUTES") 00
      span :
      span.secs-num.item(data-title="SECONDS") 00
    .banner__apply
      | #{$t.home.banner.applyBtn}
    .banner__hint.t-pink
      //      
        | &lt;&lt;&lt; #{$t.home.banner.applyHint} &gt;&gt;&gt;
    .banner__intro.t-pink
      p !{$t.home.banner.intro}
