section.category.intro#intro
  .container
    +module-title($t.intro.title)
    .intro__desc
      p=$t.intro.p1
      p=$t.intro.p2
    +module-title($t.intro.title2)
    .intro__content
      if $t.lang !== "en"
        .platform-intro
            img(src="./images/platform-01.png")
        .platform-intro
            img(src="./images/platform-02.png")
        .platform-intro
            img(src="./images/platform-03.png")
      else
        .platform-intro
            img(src="./images/platform-01-en.png")
        .platform-intro
            img(src="./images/platform-02-en.png")
        .platform-intro
            img(src="./images/platform-03-en.png")
