section.category.intro#intro
  .container
    +module-title('大赛介绍')
    .intro__content
      p.
        蚂蚁开发者大赛是由蚂蚁金服举办的面向广大开发者、品牌商户及企业的大型创意开发比赛，致力于为全球开发者们提供国际一流水平的开发与交流机会，
        并助力他们运用先进的平台和技术解决各类实际生活中的问题，为世界带来更多公平的机会。
      p.
        本次蚂蚁开发者大赛以“金融科技 未来生活”为主题，依托支付宝小程序为开发基础，鼓励开发者通过支付宝小程序充分结合蚂蚁金服提供的各项能力，
        包括移动支付、担保交易、芝麻信用、花呗、保险等金融服务，为几亿用户提供改善日常金融生活的应用体验。
    +module-title('技术平台介绍')
    .intro__content
      .platform-intro
        img(src="./images/platform-01.png")
      .platform-intro
        img(src="./images/platform-02.png")
      .platform-intro
        img(src="./images/platform-03.png")
