section.category.schedule#schedule
  .container
    +module-title($t.schedule.title)
    .schedule-content
      if $t.lang !== "en"
        img(src="./images/schedule.png")
      else 
        img(src="./images/schedule-en.png")
    .schedule-content.mobile
      if $t.lang !== "en"
        img(src="./images/schedule-mobile.png")
      else
        img(src="./images/schedule-mobile-en.png")
