section.category.schedule#schedule
  .container
    +module-title('大赛日程')
    .schedule-content
      img(src="./images/schedule.png")
    .schedule-content.mobile
      img(src="./images/schedule-mobile.png")
