section.category.sponsor#sponsor
  .container
    +module-title($t.sponsor.title)
    .sponsor__wrapper
      .sponsor__owner
        .sponsor__name=$t.sponsor.main.label
        .sponsor__logo
          img(src='./images/ant-white-logo.png')
      .sponsor__content
        .sponsor__left
          p.sponsor__decription !{$t.sponsor.main.p}
        .sponsor__right
          .sponsor__img
            img(src="./images/ant-indro.png")
      .sponsor__owner
        .sponsor__name=$t.sponsor.sub.label
        .sponsor__logo
          img(src='./images/synced-logo.png')
      .sponsor__content
        .sponsor__left
          p.sponsor__decription !{$t.sponsor.sub.p}
        .sponsor__right
          .sponsor__img
            img(src="./images/synced-indro.png")
