section.category.sponsor
  .container
    +module-title('活动组织者')
    .sponsor-content
      .sponsor-owner.wrapper
        .sponsor-owner__name.wrapper__left 主 办：
        .sponsor-owner__logo.wrapper__right
          image(src='../images/ant-white-logo.png')
      .wrapper
        .wrapper__left
          div
            p.sponsor-owner__decription 蚂蚁金服是一家旨在为世界带来普惠金融服务的科技企业。
            p.sponsor-owner__decription 蚂蚁金服起步于 2004 年成立的支付宝。2014 年 10 月，蚂蚁金服正式成立。
            p.sponsor-owner__decription 蚂蚁金服以“微世界带来更多的平等机会”为使命，致力于通过科技创新能力搭建一个开放、共享的信用体制和金融服务平台，
            p.sponsor-owner__decription 为全球消费者和小微企业提供安全、便捷的惠普金融服务。
        .wrapper__right
          .sponsor-owner__img
            image(src="../images/ant-indro.png")
      .sponsor-owner.wrapper
        .sponsor-owner__name.wrapper__left 承 办：
        .sponsor-owner__logo.wrapper__right
          image(src='../images/synced-logo.png')
      .wrapper
        .wrapper__left
          p.sponsor-owner__decription 机器之心是中国首家系统性关注人工智能技术及产业的前沿科技媒体，秉持客观、中立、严肃的内容态度，目前全平台覆盖 500,000 人工智能从业者及爱好者。在内容之外，机器之心深挖产业服务，形成集资本、人才、数据平台、研究、国际合作为一体的综合服务体系。已建立起覆盖全球人工智能的渠道，与国内外近百家优秀人工智能机构、多位顶级专家保持着紧密联系与合作关系，并拥有对歌成功案例，获得合作方广泛认可。
        .wrapper__right
          .sponsor-owner__img
            image(src="../images/synced-indro.png")

