extends layout.pug
block variables
  - var title = $t.home.title
  - var action = 'page-home'
block content
  include ./views/home/banner.pug
  include ./views/home/intro.pug
  include ./views/home/schedule.pug
  include ./views/home/rules.pug
  include ./views/home/sponsor.pug
  #js-starsBox.stars-box
