extends layout.pug
block content
  include ./views/header.pug
  include ./views/banner.pug
  include ./views/intro.pug
  include ./views/schedule.pug
  include ./views/rules.pug
  include ./views/sponsor.pug
  include ./views/toolbar.pug
  include ./views/footer.pug
  #js-starsBox.stars-box
